{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "extends": [
    "airbnb-base",
    "plugin:meteor/recommended",
    "standard"
  ],
  "env": {
    "meteor": true,
    "browser": true
  },
  "plugins": [
    "import",
    "meteor",
    "react"
  ],
  "rules": {
    "semi": [2, "always"],
    "import/no-extraneous-dependencies": ["error", {
        "devDependencies": [
          "imports/**/**/**/**tests.**"
        ]
      }
    ],
    "object-shorthand": ["error", "consistent"],
    "func-names": ["error", "as-needed"],
    "no-alert": 0,
    "no-underscore-dangle": [2, { "allow": ["__", "__helpers", "_id"] }],
    "meteor/audit-argument-checks": 0,
    "meteor/no-session": 0,
    "no-else-return": 0,
    "arrow-parens": ["error", "as-needed"]
  },
  "settings": {
    "import/resolver": "meteor"
  },
  "globals": {
    "AccountsTemplates": true,
    "Roles": true
  }
}