#loginSection {

  background: #F7F6F6;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-content: center;

  #returnLogin {
    text-decoration: none;
    color: black;
    font-size: 2rem;
  }

  .container-login {
    padding-top: 0.5rem;
    width: 450px;
    height: fit-content;
    margin: auto;
    padding: 1rem;
    background: white;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;
  }

  .text-center {
    text-align: center;
  }

  .btn-signin {
    display: block;
    margin: auto;
    width: 50%;
  }

}