#recover-pwd-page {

  background: #F7F6F6;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-content: center;

  .header-rpwd {
    margin-top: 1rem;
  }

  .btn-recover {
    display: block;
    width: 50%;
    margin: auto;
  }

  .container-recover {
    width: 50%;
    height: fit-content;
    margin: auto;
    padding: 1rem;
    background: white;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;
  }

}