#recover-pwd-page {

  .header-rpwd {
    margin-top: 1rem;
  }

  .btn-recover {
    display: block;
    width: 50%;
    margin: auto;
  }

  .text-center {
    text-align: center;
  }

  .container-recover {
    width: 50%;
  }

}