
#profileHome {
  background: #F7F6F6;

  .item-profile {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .profile-page {
    margin-top: 20px;
  }

  .icon-group-profile {
    text-align: center;
    padding: 1rem;
  }

}

